.camperDetailsItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  padding: 12px 18px;
  background-color: #f2f4f7;
  text-wrap: nowrap;
}

.camperDetailsItemIcon {
  height: 20px;
  width: 20px;
}
