* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #475467;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.noScroll {
  overflow: hidden;
}
